@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #110929;
}

.nav_hero_bg {
  background: url("../assets/nav_hero_bg.png");
  mask-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
