@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #110929;
  color: white;
}

.nav_hero_bg {
  background: url("../assets/nav_hero_bg.png");
  mask-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.nav_btn_bg {
  background: linear-gradient(90deg, #8d1cfe 0%, #0038ed 100%);
}

.collaboration_bg {
  background: url("../assets/collab_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.service_container_bg {
  background: url("../assets/service_container_bg.png");
  background-repeat: no-repeat;
  background: cover;
}

.find_me_bg {
  background: url("../assets/find_me_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.work_gallery {
  background: url("../assets/work_gallery_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.contact_form_bg {
  background: url("../assets/contact_form_bgT.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #8d1cfe87;
}
.button_style_form {
  background: linear-gradient(129deg, #6a8eed 0%, #3733d1 100%);
}

.box_shadow_thirty {
  box-shadow: 0px 4px 190px 0px rgba(153, 23, 255, 0.2);
}

.thirty_day_button {
  border-radius: 1.57675rem;
  background: radial-gradient(50% 50% at 50% 50%, #a47cf3 0%, #683fea 100%);
  box-shadow: 0px 1.713004469871521px 0.8565022349357605px 0px
      rgba(255, 255, 255, 0.25) inset,
    0px -3.426008939743042px 1.713004469871521px 0px rgba(0, 0, 0, 0.25) inset,
    0px 0px 0.8565022349357605px 3.426008939743042px rgba(255, 255, 255, 0.1),
    0px 0px 154.17039489746094px 0px #9917ff;
}

.bg_form_thirty {
  background: url("../assets/bg-form_thirty.svg");
  background-position: top;
  background-repeat: no-repeat;
}

.tab_bg {
  background: linear-gradient(162deg, #8d1cfe 0%, #0038ed 100%);
}

/* Works Page---------------------------------------------- */
.nav_bg {
  background: url("../assets/Works/nav_bg.png");
  background-repeat: no-repeat;
}

.about_text_animation {
  background: linear-gradient(174deg, #adf1e0 10%, #8075ff 18%, #ff7171 98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* AboutPage */

.about_bg2 {
  background: url("../assets/About/bg_about_2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about_bg3 {
  background: url("../assets/About/bg_about_3.png");
  background-repeat: no-repeat;
  background-position: right;
}

.section_content_bg {
  background: url("../assets/About/section_content_bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

/* Case Study */

.case_study_tag {
  border-radius: 5.625rem;
  background: rgba(155, 163, 163, 0.1);
}

.question_container_Bg {
  border-radius: 0.3125rem;
  background: rgba(141, 28, 254, 0.25);
  box-shadow: -2px 10px 15px 0px rgba(0, 0, 0, 0.1);
}
