@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #110929;
  color: white;
}

.nav_hero_bg {
  background: url("../assets/nav_hero_bg.png");
  mask-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.collaboration_bg {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(21.5px);
}

.service_container_bg {
  background: url("../assets/service_container_bg.png");
  background-repeat: no-repeat;
  background: cover;
}

.find_me_bg {
  background: url("../assets/find_me_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.work_gallery {
  background: url("../assets/work_gallery_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
